<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body class="container">
  <main>
    <div class="row">
      <div class="col-12 d-flex justify-content-center ">
        <h1>Welcome</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Access pages using the links in the navbar above</h3>
      </div>
    </div>
  </main>
</body>

</html>